@import url(./__title/footer__title.css);

.footer {
  padding-inline: 10px;
  margin: 0 auto;
  max-inline-size: 375px;
  min-block-size: 100vh;
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  align-content: center;
}

@media (min-width: 780px) and (max-width: 1203px) {
  .footer {
    padding-inline: 20px;
    min-inline-size: 768px;
    max-inline-size: 1023px;
  }
}

@media (min-width: 1024px){
  .footer {
    min-inline-size: 1024px;
    padding-inline: 20px;
  }
}