.content-section__descpirtion {
  color: var(--main-color);
  line-height: var(--main-line-height);
  font-size: var(--main-font-size);
}

.content-section__descpirtion span {
  color: var(--content-color-title);
}

.content-section__descpirtion span:hover {
  text-decoration: underline;
}

.content-section__descpirtion span:focus {
  border: 1px solid var(--main-color);
}