.header__theme-menu {
  grid-row-start: 1;
  grid-column-start: 2;
  align-self: center;
  justify-self: end;
}

@media (min-width: 780px) and (max-width: 1203px) {
  .header__theme-menu {
    align-self: end;
  }
}

@media (min-width: 1024px){
  .header__theme-menu {
    grid-column: 2;
    align-self: start;
  }
}