@import url(./__title/content-section__title.css);
@import url(./__subtitle/content-section__subtitle.css);
@import url(./__description/content-section__descpirtion.css);
@import url(./__why/content-section__why.css);
@import url(./__block/content-section__block.css);
@import url(./__concentration/content-section__concentration.css);
@import url(./__advice/content-section__advice.css);
@import url(./__pictures/content-section__pictures.css);
@import url(./__image-books/content-section__image-books.css);
@import url(./__image-ice-cream/content-section__image-ice-cream.css);
@import url(./__image-street/content-section__image-street.css);
@import url(./__image-sunset/content-section__image-sunset.css);
@import url(./__image-tape/content-section__image-tape.css);
@import url(./__pictures-books/content-section__pictures-books.css);
@import url(./__pictures-ice-cream/content-section__pictures-ice-cream.css);
@import url(./__pictures-street/content-section__pictures-street.css);
@import url(./__pictures-sunset/content-section__pictures-sunset.css);
@import url(./__pictures-tape/content-section__pictures-tape.css);

.content-section {  
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  padding-block-start: 50px;
}

.content-section:first-child {
  padding-block-start: 0;
}

.content-section_padding-s {
  padding-block-start: 28px;
}

@media (min-width: 780px) and (max-width: 1023px) {
  .content-section {
    padding-block-start: 80px;
  }
  .content-section_padding-s {
    padding-block-start: 58px;
  }
}

@media (width >= 1024px){
  .content-section {
    padding-block-start: 80px;
  }
}
