/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {

}

.theme-dark .page {
  font-size: var(--main-font-size);
  font-family: "IBM Plex mono", serif;
  color: var(--main-text);
  line-height: var(--main-line-height);
}
