@import url(./../header/header.css);
@import url(./../rec/rec.css);
@import url(./../title-decor/title-decor.css);
@import url(./../main/main.css);
@import url(./../content__section/content__section.css);
@import url(./../footer/footer.css);
@import url(./../decorated-zone/decorated-zone.css);

.page {
  background-image: url(./../images/cover-image-dark.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: var(--color-title-decor);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
