:root {
  --title-color: #DB00FF;
  --title-font-weight: 700;
  --title-font-size: 116px;
  --title-line-height: 95.7px;
  --background-title-decor: #FF0070;
  --color-title-decor: #000028;
  --main-font-size: 18px;
  --main-color: #F1B2CE;
  --main-line-height: 23.4px;
  --main-font-family: 'IBM Plex mono';
  --content-color-title: #FF0070;
  --content-margin-subtitle-start: 20px;
  --content-margin-subtitle-end: 10px;
}
