@import url(./__title/header__titile.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__theme_menu/header__theme-menu.css);
@import url(./__theme-menu-list/header__theme-menu-list.css);
@import url(./__theme-menu-button/header__theme-menu-button.css);
@import url(./__theme-menu-item/header__theme-menu-item.css);

.header {
  margin: 0 auto;
  padding-block: 10px;
  padding-inline: 10px;
  max-inline-size: 375px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  block-size: 100%;
  min-block-size: 668px;
}

@media (min-width: 668px) and (max-width: 1203px) {
  .header {
    padding-inline: 20px;
    padding-block: 20px;
    min-inline-size: 668px;
    max-inline-size: 1023px;
  }
}

@media (min-width: 1024px){
  .header {
    grid-template-columns: 1fr max-content 1fr;
    min-inline-size: 1024px;
  }
}