.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-block-start: 8px;
  margin-inline-end: 6px;
}

@media (min-width: 1024px){
  .header__theme-menu-list {
    flex-direction: row;
  }
}