@media (min-width: 780px) and (max-width: 1203px) {
  .content-section__why {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px){
  .content-section__why {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
} 